**/target
**/forge-std
zk-programs/zk-rate-example/zk-rate-application-contracts/ethereum-vault-contract/cache
zk-programs/zk-rate-example/zk-rate-application-contracts/ethereum-vault-contract/broadcast
zk-programs/zk-rate-example/zk-rate-application-contracts/ethereum-vault-contract/out

zk-programs/zk-mailbox-example/zk-mailbox-application-contracts/cache
zk-programs/zk-mailbox-example/zk-mailbox-application-contracts/broadcast
zk-programs/zk-mailbox-example/zk-mailbox-application-contracts/out

.env